{% extends 'home.html' %}

{% block head %}
<!-- Required meta tags-->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content="Hall Management System" />
<meta name="author" content="getitdone" />
<meta name="keywords" content="UGEL Hall Management System" />

<!-- Title Page-->
<title>About Us</title>

<!-- Icons font CSS-->
<!-- <link
  rel="stylesheet"
  href="{{url_for('static',filename='css/AboutUs/main.css')}}"
/> -->
<!-- Font special for pages
<link
  href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet"
/> -->

<script>
  function allowNumbersOnly(e) {
    var code = e.which ? e.which : e.keyCode;
    if (code > 31 && (code < 48 || code > 57)) {
      e.preventDefault();
    }
  }
</script>
{% endblock %} 
{% block body%}
<!-- <button type="button" class="hamburger"><i class="fa-solid fa-bars"></i></button> -->
<!-- <nav class="mobile-navbar">
  <div class="nav-00"><a class="getitdone" href="/aboutus">ABOUT US</a></div>
  <div class="nav-02">
    {% if current_user.is_authenticated %}
    <a href="/Dashboard" class="gotodash">Go to Dashboard</a>
    {%else%}
    <a href="/login" class="navlink2">Log in</a>
    <div class="navlink2-signup"><a href="/signUp">Sign Up</a></div>
    {% endif %}
  </div>
</nav> -->
<!-- Main Body -->
<div class="mainpage">
  <div class="main-01">
    <div class="default-text">
      <h1 class="team" style="font-weight: 800; text-align: center; width: 100%">Our Work</h1>
    </div>
    <div class="product-name">
      <p style="font-size: 15px; width: 70%; justify-content: center">
        This project is the end of course final year project of these six collabrators;
        <em>Dr. Ferdinand Katsriku (Project Supervisor)</em>
            Programming Team:
        <em>Hubert Ofosu Asare</em>
        <em>Edumund Adanor Mensah</em>
        <em>Narh Ama Theresa</em>
        <em>Emmanuel Baah</em>
        <em>Nortey Yeboah Immanuel</em>
        <em>Bakari Amabagne Dauda</em>
        We focused on making this management system for the UGEL Halls 
        due to relatively, huge data they produce each day. Nevertheless, it 
        can surely be customized for any other hall on campus.
        An objective was making this system a much easier one to use and less complicated, 
        while simultaneously increasing workflow of users in the UGEL halls.
        With this Hall Management System, users are guaranteed to have an easier
        time managing the large student count in these halls.
      </p>
    </div>
    <div class="default-text">
      <h1 class="team" style="font-weight: 800; width: 100%; text-align: center">The Team</h1>
    </div>
  </div>

  <div class="main-02">
    <h3>Project Supervisor</h3>
    <div class="DocumentationTeam">
      <img
        class="member"
        src="{{url_for('static', filename='images/Ferdinand.jpeg')}}"
        alt="DR. Ferdinand"
      />
    </div>

    <h3>Project Team</h3>
    <div class="ProgrammingTeam">
      <img
        class="member"
        src="{{url_for('static', filename='images/Hubert.jpeg')}}"
        alt="Hubert"
      />
      <div class="ProgrammingTeam">
        <img
          class="member"
          src="{{url_for('static', filename='images/Edmund.jpeg')}}"
          alt="Edmund"
        /> 
      </div>
    </div>
    <div class="ProgrammingTeam">
      <img
        class="member"
        src="{{url_for('static', filename='images/Ama.jpeg')}}"
        alt="Ama"
      /> 
    </div>
    <div class="ProgrammingTeam">
        <img
          class="member"
          src="{{url_for('static', filename='images/Immanuel.jpeg')}}"
          alt="Immanuel"
        /> 
      </div>
      <div class="ProgrammingTeam">
        <img
          class="member"
          src="{{url_for('static', filename='images/Baah.jpeg')}}"
          alt="Baah"
        /> 
      </div>
      <div class="ProgrammingTeam">
        <img
          class="member"
          src="{{url_for('static', filename='images/Amabagne.jpeg')}}"
          alt="Amabagne"
        /> 
      </div>
    </div>
    <div class="ContactUs">
    <a href="/contactUs">Contact Us</a>
    </div>
</div>
{% endblock %}