{% extends 'base.html' %}

{% block head%}
<!-- Required meta tags-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="UGEL HALL MANAGEMENT SYSTEM">
<meta name="author" content="END OF COURSE PROJECT">
<meta name="keywords" content="UGEL HALL MANAGEMENT">
<link rel="stylesheet" href="{{url_for('static', filename='css/addstudent.css')}}">
<!-- Title Page-->
<title>Add Students</title>

<script>
    function allowNumbersOnly(e) {
        var code = (e.which) ? e.which : e.keyCode;
        if (code > 31 && (code < 48 || code > 57)) {
            e.preventDefault();
        }
    }
</script>
{% endblock%}
{% block body%}




<div class="card-body">
    <h2 class="title">Registration Form</h2>
    <form action="" method="POST" onsubmit="return ValidateForm();">
        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <label for="surname" class="label">Surname</label>
                    <input class="input" type="text" id= "surname" name="surname" required>
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <label for="othernames" class="label">Othernames</label>
                    <input class="input" type="text" id= "othernames" name="othernames" required>
                </div>
            </div>
        </div>
        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <label for="student_id" class="label">Student ID</label>
                    <div class="input-group-icon">
                        <input class="input" type="text" id="student_id" name="student_id" maxlength="8 " minlength="8" 
                            onkeypress="allowNumbersOnly(event)">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <label class="label">Gender</label>
                    <div class="p-t-10">
                        <label for="gender_male" class="radio-container m-r-45">Male
                            <input id="gender_male" type="radio" name="gender" value="Male" required>
                            <span class="checkmark"></span>
                        </label>
                        <label for="gender_female" class="radio-container">Female
                            <input id="gender_female" type="radio" name="gender" value="Female" required>
                            <!-- <span class="checkmark"></span> -->
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <label for="room_number" class="label">Room Number</label>
                    <input id="room_number" class="input" type="text" name="roomnumber">
                </div>
            </div>
                <div class="col-2">
                    <div class="input-group">
                        <label for="contact" class="label">Contact</label>
                        <input id="contact" class="input--style-4" type="text" name="phone" maxlength="10" minlength="10" onkeypress="allowNumbersOnly(event)">
                    </div>
                </div>
        </div>
        <div class="input-group">
            <label for="course" class="label">Course</label>
            <input id="course" class="input--style-4" type="text" name="course">
        </div>
        <div class="button">
            <button class="btn" type="submit" id="submitbutton" name="Submit">Submit</button>
        </div>
    </form>
</div>
{% endblock%}