<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
   

    {% block head %} {% endblock %}
</head>
<body> 
    
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo"> <img src="{{url_for('static', filename='images/logo.png')}}">
                <h3 id="logo">UGEL <span id="warning">HALL MANAGEMENT SYSTEM</span></h3>
                </div>
                <div class="close" id="close-btn ">
                    <span> <img class="btn" src="{{url_for('static', filename='images/close.svg')}}" width="40" height="40"></span>
                </div>
            </div>
            <div class="sidebar">
                <a href="/Templates/dashboard.html">
                    <span> <img class="btn" src="{{url_for('static', filename='images/dashboard.svg')}}" width="40" height="40"></span>
                    <h4>Dashboard</h4>
                </a>
                <a href="#">
                    <span> <img class="btn" src="{{url_for('static', filename='images/person_add.svg')}}" width="40" height="40"></span>
                    <h4>Registration</h4>
                </a>
                <a href="#" class="active">
                    <span> <img class="btn" src="{{url_for('static', filename='images/database.svg')}}" width="40" height="40"></span>
                    <h4>Database</h4>
                </a>
                <a href="#">
                    <span> <img class="btn" src="{{url_for('static', filename='images/holiday_village.svg')}}" width="40" height="40"></span>
                    <h4>Porters Lodge</h4>
                </a>
                <a href="/Templates/systemtickets.html">
                    <span> <img class="btn" src="{{url_for('static', filename='images/settings.svg')}}" width="40" height="40"></span>
                    <h4>System Ticket</h4>
                </a>
                <a href="#">
                    <span> <img class="btn" src="{{url_for('static', filename='images/person.svg')}}" width="40" height="40"></span>
                    <h4>About Us</h4>
                </a>
                <a href="#">
                    <span> <img class="btn" src="{{url_for('static', filename='images/logout.svg')}}" width="24" height="24"></span>
                    <h4>Logout</h4>
                </a>
            </div>
        </aside>
        <!--------------------- End of Aside --------------------->
        {% block body %}
        

    {% endblock %}
    </div>
</body>
</html>