{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %} 
<h1>DATABASE</h1>
    <div class="tickets">
       <table>
        <thead>
            <tr>
                <th>SURNAME NAME</th>
                <th>OTHER NAMES</th>
                <th>ID</th>
                <th>GENDER</th>
                <th>ROOM NUMBER</th>
                <th>LEVEL</th>
                <th>COURSE</th>
                <th>CONTACT</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Asare</td>
                <td>Hubert Ofosu</td>
                <td>10715846</td>
                <td>Male</td>
                <td>B2105</td>
                <td>400</td>
                <td>BSc Information Technology</td>
                <td>0202585370</td>
                <td class="action">
                    <a href="#">Update</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
            <tr>
                <td>Narh</td>
                <td>Ama</td>
                <td>10715867</td>
                <td>Female</td>
                <td>B2106</td>
                <td>200</td>
                <td>BSc Computer Science</td>
                <td>0543789135</td>
                <td class="action">
                    <a href="#">Update</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
            <tr>
                <td>Mensah</td>
                <td>Edmund</td>
                <td>10722554</td>
                <td>Male</td>
                <td>B2060</td>
                <td>400</td>
                <td>BSc Information Technology</td>
                <td>0502455678</td>
                <td class="action">
                    <a href="#">Update</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
            <tr>
                <td>Baah</td>
                <td>Samuel</td>
                <td>10715765</td>
                <td>Male</td>
                <td>B2125</td>
                <td>300</td>
                <td>BSc Computer Science</td>
                <td>0502885490</td>
                <td class="action">
                    <a href="#">Update</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
            <tr>
                <td>Esther</td>
                <td>Ama Karl</td>
                <td>10715847</td>
                <td>Female</td>
                <td>B2106</td>
                <td>100</td>
                <td>BSc Biological Science</td>
                <td>0543789135</td>
                <td class="action">
                    <a href="#">Update</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
        </tbody>
       </table>
    </div>
{% endblock %}