{% extends 'base.html' %}

{% block head %}
<!-- Required meta tags-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="UGEL HALL MANAGEMENT SYSTEM">
<meta name="author" content="END OF COURSE PROJECT">
<meta name="keywords" content="UGEL HALL MANAGEMENT"> 
<title>Database</title>
{% endblock %}

{% block body %} 
<h1>DATABASE</h1>
    <div class="tickets">
       <table>
        <thead>
            <tr>
                <th>SURNAME NAME</th>
                <th>OTHER NAMES</th>
                <th>ID</th>
                <th>GENDER</th>
                <th>ROOM NUMBER</th>
                <th>LEVEL</th>
                <th>COURSE</th>
                <th>CONTACT</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            {% for row in student %}
            <tr>
                <td>{{student.surname}}</td>
                <td>{{student.othernames}}</td>
                <td>{{student.student_id}}</td>
                <td>{{student.gender}}</td>
                <td>{{student.room_number}}</td>
                <td>{{student.level}}</td>
                <td>{{student.course}}</td>
                <td>{{student.contact}}</td>
                <td class="action">
                    <a href="#">Update</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
       </table>
    </div>
{% endblock %}