<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel='stylesheet' href="{{url_for('static', filename='css/home.css')}}">
  </head>
<body>
   
  
<section>
  <div class="container"></div>
    <header>
      <a href="/"><img src="{{url_for('static', filename='images/logo.png')}}"  class="logo"></a>
    </header>
     <div class="content">
     <div class="textBox">
      <h2>Hall Management<br><span>System</span></h2>
      <p>A secure and easy system to use, manually write student information in books no more! <br>
        Create an account or log in to get started</p>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
        </div>
        <div class="imgBox">
          <img src="{{url_for('static', filename='images/landing-page.png')}}" class="starbucks">
         </div>
    </div>
  </div>
</section>

</body>
</html>