{% extends 'base.html' %}

{% block head %} 
<title>
    Database
</title>
{% endblock %}

{% block body %} 
<h1>DATABASE</h1>
    <div class="tickets">
       <table>
        <thead>
            <tr>
                <th>SURNAME NAME</th>
                <th>OTHER NAMES</th>
                <th>ID</th>
                <th>GENDER</th>
                <th>ROOM NUMBER</th>
                <th>LEVEL</th>
                <th>COURSE</th>
                <th>CONTACT</th>
                <th>EMAIL</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            {% for Student in Students %}
            <tr>
                <td>{{Student.surname}}</td>
                <td>{{Student.othernames}}</td>
                <td>{{Student.student_id}}</td>
                <td>{{Student.gender}}</td>
                <td>{{Student.room_number}}</td>
                <td>{{Student.level}}</td>
                <td>{{Student.course}}</td>
                <td>{{Student.contact}}</td>
                <td>{{Student.email}}</td>
                <td class="action">
                    <a href="#">Update</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
       </table>
    </div>
{% endblock %}