{% extends 'base.html' %}

{% block head %} 
<title>
  keylogging
</title>
{% endblock %}

{% block body %} 
    <div class="container">
        <form name="registration" class="registartion-form" onsubmit="return formValidation()" action="Home.html">
            <table>
              <tr>
                <td>
                  <h1 style="color:black">KEYLOGGING</h1>
                </td>
              </tr>
              <tr>
                <td><label for="userid">Id:</label></td>
                <td><input type="tel" name="userid" id="userid" placeholder="Staff Id"></td>
              </tr>
              <tr>
                <td><label for="username">Surname:</label></td>
                <td><input type="text" name="username" id="username" placeholder="Surname"></td>
              </tr>
              <tr>
                <td><label for="username1">Other names:</label></td>
                <td><input type="text" name="username1" id="username1" placeholder="Other names"></td>
              </tr>
              <tr>
                <td><label for="password">Room Number</label></td>
                <td><input type="text" name="passid" id="password" placeholder="Password"></td>
              </tr>
              <tr>
                <td><label for="phoneNumber">Phone Number:</label></td>
                <td><input type="tel" name="phoneNumber" id="phoneNumber" placeholder="Phone Number"></td>
              </tr>
              <tr>
                <td><label for="time">Time:</label></td>
                <td><input type="datetime" name="time" id="phoneNumber" placeholder="datetime"></td>
              </tr>
              <tr>
                <td><label for="hall">Hall:</label></td>
                <td>
                  <select name="hall" id="hall" required>
                    <option value="Default">Select Hall</option>
                    <option value="ALF">Elisabeth Sey</option>
                    <option value="AL">Jean Nelson</option>
                    <option value="DZ">Alexander Kwapong</option>
                    <option value="AS">Hilla Liman</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="course">Level</label></td>
                <td> <select name="hall" id="hall" required>
                  <option value="Default">Select Level</option>
                  <option value="100">100</option>
                  <option value="200">200</option>
                  <option value="300">300</option>
                  <option value="300">400</option>
                  <option value="300">500</option>
                  <option value="300">600</option>
              </tr>
              <tr>
                <td>
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" required/>
                            <label class="form-check-label" for="form2Example3">
                              I agree all statements in Terms of service
                            </label>
                </td>
              </tr>
              <tr>
                <td colspan="2"><input type="submit" class="submit" value="Register"/></td>
              </tr>
              <tr>
              <td>
                Already have an account? <span> <a href="/Templates/login">Login</a></span>
              </td> 
            </table>
          </form>
        </div>
<script src="{{url_for('static', filename='js/Signupvalid.js')}}"></script>
{% endblock %}